#id_index_search{
    margin: 10px;
}

#id_index_newButton{
    margin: 10px;
}

#id_index_uploadButton{
    margin: 10px;
}

#id_index_chooseFile{
    margin: 10px;
    position: absolute;
    top: 65px;
    left: 200px;
}